.contact {
    padding: 100px 0;

    @include mobile {
        padding: 50px 0;
    }

    &-container {}

    &__title {
        padding: 15px 0;

    }

    &__form {
        width: 100%;
        max-width: 500px;
        height: max-content;
        margin-inline: auto;

        @include mobile {
            width: 95%;
        }

        label {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 14px;
            transition: 0.3s all ease-in-out;
        }

        input {
            width: 100%;
            background: transparent;
            outline: none;
            box-shadow: 6px 4px 1px white;
            padding: 10px 20px;
            border-radius: 8px;
            padding-top: 30px;

            &:focus {
                box-shadow: 6px 4px 1px blue;
            }
        }

        textarea {
            width: 100%;
            background: transparent;
            outline: none;
            box-shadow: 6px 4px 1px white;
            padding: 10px 20px;
            border-radius: 8px;
            padding-top: 30px;

            &:focus {
                box-shadow: 6px 4px 1px blue;
            }
        }

        button {
            width: 100%;
            background: transparent;
            outline: none;
            box-shadow: 6px 4px 1px white;
            padding: 10px 20px;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background: white;
                color: black;
                box-shadow: 6px 4px 1px blue;
            }
        }

    }

    &--divider {
        @include grid-columns(1, 1fr 1fr, center, center);
        padding: 25px 0;
    }
}

@include allMobile {
    .contact--divider {
        @include grid-columns(1, 1fr);

    }
}

.form-group {
    padding: 15px 0;
    position: relative;
}

// input:focus label {
//     display: block;
//     top: -30px !important;
//     left: 10px !important;

// }