.infobox {
  padding: 150px 0;
  // padding-top: 250px;
  background-color: #f6f7fb;

  @include allMobile{
    padding-top: 50px;
  }



  &-container {
    width: 100%;
    max-width: 1050px !important;
    @include grid-columns(1, 1fr 1fr);
    grid-gap: 20px;
    place-items: center;

    @include allMobile {
      @include grid-columns(1, 1fr);
      grid-gap: 20px;
    }
  }

  &__card {
    width: 100%;
    max-width: 500px;
    @include allMobile{
    max-width: 100%;
    }
    height: 400px;
    max-height: 400px;
    // border: 5px solid black;
    border-radius: 5px;
    padding: 15px 10px;
    
    @include d-flex-center(column);
    text-align: left !important;


    @include allMobile {
      height: 100%;
      max-height: 100%;
    }

    h1,
    h2,
    h3,
    h4 {
      text-align: left;
    }

    &--color1 {
      background: white;
      box-shadow: -5px 5px;
      border: 1px solid black;

      &:hover {
        box-shadow: 5px -5px;
        transition: 0.4s all ease-in-out;
      
      }
    }

    &--color2 {
      background: white;
      box-shadow: 5px -5px;
      border: 1px solid black;

      &:hover {
        box-shadow: -5px 5px;
        transition: 0.4s all ease-in-out;
        
      }
    }

    &--border1 {
      border: none;
      box-shadow: 5px 5px;

      @include allMobile {
        // border: 5px solid black;
        box-shadow: none;
      }
    }

    &--border2 {
      border: none;
      box-shadow: -5px -5px;

      @include allMobile {
        // border: 5px solid black;
        box-shadow: none;
      }
    }

    h4 {
      font-size: 2rem;
      line-height: 130%;
      font-weight: 600;

      @include allMobile {
        font-size: 1rem;
      }
    }

    h2,
    h3 {
      font-size: 1.2rem;
      line-height: 130%;
      font-weight: 600;
      padding-top: 50px;
      // text-align: left !important;

      @include allMobile {
        font-size: 22px;
      }
    }

    p {
      font-size: 1.2rem;
      line-height: 130%;
      font-weight: 300;
      padding-top: 50px;
    }


  }
}

.infobox__card--border1:hover {

  box-shadow: -5px -5px;
  transition: 0.4s all ease-in-out;
  background: white;

}

.infobox__card--border2:hover {

  box-shadow: 5px 5px;
  transition: 0.4s all ease-in-out;
  background: white;
}