// ===================  Fonts Mixins
@mixin font-family($family, $weight, $size, $color, $line-height: $size+10) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	color: $color;
	line-height: $line-height;
}
